#verde{
	width:100px;
	height:100px;
	background-color:lightgreen;
	border-radius:50%;
	display: inline-block;
	margin-left:30px;
	margin-right:30px;
}
#rojo{
	width:100px;
	height:100px;
	background-color:red;
	border-radius:50%;
	display: inline-block;
	margin-left:300px;
	margin-right:30px;

}
#azul{
	width:100px;
	height:100px;
	background-color:lightblue;
	border-radius:50%;
	display: inline-block;
	margin-left:30px;
	margin-right:30px;

}
form{
	margin-left: 450px;
}
.borde-rojo, .borde-azul , .borde-verde{
	border:5px solid black;
}